<div class="container col-4">
  <h1>Mettez votre mug à louer !</h1>
    <h3>Veuillez remplir le formulaire suivant</h3>
    <%= simple_form_for(@mug) do |f| %>
      <%= f.input :color %>
      <%= f.input :description %>
      <%= f.input :size, placeholder:"s, m or l"  %>
      <%= f.input :price_by_day %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
</div>
