<div class="container col-6 mt-4 new-mug">
  <h1>Mettez votre mug à louer !</h1>
    <h3>Veuillez remplir le formulaire suivant</h3>
    <%= simple_form_for @mug, html: { class: 'radio-mugs mt-4' } do |f| %>
      <%= f.input :color, label:"Couleur" %>
      <%= f.input :description %>
      <%= f.input :size,
            label: "Taille",
            as: :radio_buttons,
            item_wrapper_tag: 'div',
            item_wrapper_class: 'size-wrapper',
            input_html: {class: 'size-selector'},
            collection: Mug::MUG_SIZES.map { |size| ["  <i class='fas fa-coffee'></i>".html_safe, size] } %>
      <%= f.input :price_by_day, label:"Tarif à la journée, en €" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Louer votre mug", class:"submit submit-new" %>
    <% end %>
</div>
