<div class="container-lg">
  <div class="row align-items-start mug-row">
    <div class="mug-img-desc-col col-6">
      <div class="img-container w-100">
        <%= cl_image_tag @mug.photo.key, height: 350, crop: :fill, class: "w-100" %>
      </div>
      <div class="mug-desc">
        <strong><%= @mug.description %></strong>
      </div>
    </div>

    <div class="mug-map-info-col col-6">
      <div class="mug-info">
        <div class="mug-color"><strong><%= @mug.color.split(" ").map{ |word| word.capitalize }.join(" ") %></strong></div>
        <div class="mug-size text-gray">
                    <i class="fas fa-coffee h6 <%= "text-black" if @mug.size == "s"%>"></i>
                    <i class="fas fa-coffee h5 <%= "text-black" if @mug.size == "m"%>"></i>
                    <i class="fas fa-coffee h4 <%= "text-black" if @mug.size == "l"%>"></i>
        </div>
        <div class="mug-address"><%= @mug.user.address %></div>
      </div>
      <div class="mug-resa-form-col col-13">
        <h4>Réserver votre mug</h4>
        <div class="form">
          <%= simple_form_for([@mug, @booking], html: { data: { priceByDay: @mug.price_by_day }}) do |f| %>
            <%= f.input :start_date, label: 'Début de la location', as: :date, html5: true, input_html: {value: f.object.start_date || Date.today, class: "datepicker" }%>
            <%= f.input :end_date, label: 'Fin de la location', as: :date, html5: true, input_html: {value: f.object.end_date || Date.today, class: "datepicker" } %>
            <div class="calcul">
              <div class="line_price d-flex justify-content-between p-2">
                <span class="price">Location à la journée</span>
                <span class="price_day"><%= @mug.price_by_day %> €</span>
              </div>
              <div class="cost_price d-flex justify-content-between p-2">
                <span class="cost_total">Total</span>
                <span class="cost"><%= @mug.price_by_day %> €</span>
              </div>
            </div>
            <%= f.submit "Réserver", class:"submit", disabled: current_user == @mug.user ? true : false %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
