<h1 class="text-center"><%= current_user.username %></h1>

<div class="container dashboard-container col-9">
  <div class="row">
    <div class="colonne col-12 p-2">
      <h2 class="text-center">Données personnelles</h2>
      <div class=" dashboard-infos col-4 offset-4">
        <div>
          <i class="fas fa-user-circle"></i>
          <%= current_user.username %>
        </div class="p5">
        <div class="p5">
          <%= current_user.email %>
          <i class="fas fa-envelope"></i>
        </div>

      </div>

    </div>
    <div class="colonne col-12 p-2">
      <h2 class="text-center">Mes mugs</h2>
      <ul>
        <div class="dashboard wrapper">
          <% current_user.mugs.each do |mug| %>
            <%= link_to(mug_path(mug.id), html_options = {}) do %>
              <div class="dashboard card-product mug-card">
                <%= cl_image_tag("#{mug.photo.key}", width: 75, height: 75) %>
                <div class="card-product-infos">
                  <div class="mug-color"><i class="fas fa-tint">  <%= mug.color %></i></div>
                  <div class="mug-size text-gray">
                      <i class="fas fa-coffee h6 <%= "text-black" if mug.size == "s"%>"></i>
                      <i class="fas fa-coffee h5 <%= "text-black" if mug.size == "m"%>"></i>
                      <i class="fas fa-coffee h4 <%= "text-black" if mug.size == "l"%>"></i>
                  </div>
                  <div class="mug-price"><%= mug.price_by_day %> <i class="fas fa-euro-sign"></i> / jour</div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
    <div class="colonne col-12 p-2">
      <h2 class="text-center">Réservations</h2>
      <ul>
        <div class="dashboard wrapper">
          <% current_user.bookings.each do |booking| %>
            <div class="dashboard card-trip">
              <%= cl_image_tag("#{booking.mug.photo.key}", width: 100, height: 100) %>
              <div class="dashboard card-trip-infos">
                <div><i class="fas fa-calendar-alt"></i>  <%= booking.start_date.day %>/<%= booking.start_date.month %></div>
                <div><i class="fas fa-hourglass"></i>  <%= ((booking.end_date.to_i - booking.start_date.to_i) / 86400) %> jours</div>
                <div><%= booking.cost %> <i class="fas fa-euro-sign"></i></div>
              </div>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
